// Colors:
$WHITE: #fff;
$SoftRed: #f47c57;
$SoftBlue: #6565e7;
$SoftViolet: #af67e9;
$DarkGrayishBlue: #787887;
$VeryDarkGrayishBlue: #4a4b5e;
$VeryDarkDesaturatedBlue: #1d1e35;
$LightGrayishBlue: hsl(240, 5%, 91%);

// Media size:
$Mobile: 375px;
$Laptop: 768px;
$Desktop: 1440px;
